#app {
    max-width: 767px;
}

/* Need to set #hero.background-image */

.hero {
    background-size: cover;
}

.text-background {
    width: 100%;
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
    /* Semi-transparent black */
    padding: 5px;
    /* Or as needed */
    display: inline-block;
}

.cbx-container {
    border: 1px solid #D3D3D3;
    border-radius: 10px;
    cursor: pointer;
}

.cbx-container input[type="checkbox"] {
    cursor: pointer;
    margin-right: 10px;
}

.prompt textarea {
    height: 65px;
}

.prompt textarea.expanded {
    height: 100px;
}

.textarea-container {
    position: relative;
    display: inline-block; /* Or as per your layout requirement */
}

button.sendMessage {
    position: absolute;
    bottom: 10px;
    right: 25px;
}