body {
    overflow-y: auto;
}

/* Need to set #hero.background-image */

#hero {
    height: 50vh;
    /* Set the height of the hero section (e.g., full viewport height) */
    width: 100%;
    /* Set the width to be full width of the viewport */
}

/* Mobile Background */
@media only screen and (max-width: 767px) {
    #hero {
        background-position: -50px;
        background-size: cover;
    }
}

/* Desktop Background */
@media only screen and (min-width: 768px) {
    #hero {
        background-position: 200px 50%;
        background-size: cover;
    }
}

#app {
    max-width: 900px;
    padding-bottom: 200px;
    padding-left: 15px;
    padding-right: 15px;
}

.text-background {
    width: 100%;
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
    /* Semi-transparent black */
    padding: 5px;
    /* Or as needed */
    display: inline-block;
}

.text-background-inner {
    max-width: 900px;
}

.checkbox-container {
    border: 1px solid #D3D3D3;
    border-radius: 10px;
    cursor: pointer;
}

.checkbox-container input[type="checkbox"] {
    cursor: pointer;
}