/* CSS specific to Squarespace */

@media only screen and (max-width: 767px) {
    .row>* {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    .content-wrapper {
        padding-top: 0 !important;
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    main {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    .sqs-layout .sqs-row .sqs-block:first-child {
        padding-top: 0 !important;
    }

    .sqs-block {
        padding: 0 !important;
    }

    .sqs-layout > .sqs-row {
        margin-left: 0px !important;
        margin-right: 0px !important;
    }
}

footer {
    display: none;
}

body {
    background-color: #f8f9fa !important;
    overflow-x: hidden;
}

/* Desktop Background */
@media only screen and (min-width: 768px) {
    body {
        overflow-x: auto;
    }
}

.header-announcement-bar-wrapper {
    display: none;
}

/* Desktop Background */
@media only screen and (min-width: 768px) {
    .header-announcement-bar-wrapper {
        display: block;
    }
}


.content-wrapper {
    background-color: #f8f9fa !important;
}