/* CSS specific to Squarespace */

@media only screen and (max-width: 767px) {
    .row>* {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    .content-wrapper {
        padding-top: 0 !important;
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    main {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    .sqs-layout .sqs-row .sqs-block:first-child {
        padding-top: 0 !important;
    }
}

footer {
    display: none;
}

body {
    background-color: #f8f9fa !important;
}

.header-announcement-bar-wrapper {
    display: none;
}

.content-wrapper {
    background-color: #f8f9fa !important;
}